/* Variables */

$color-dark: #2d3436;
$color-light: #dfe6e9;
$color-white: #ffffff;
$color-golden: #fdcb6e;
$color-p: #636e72;
$font-light: #dfe6e9;
$font-header: 'Gotu', sans-serif;
$font-text: 'Montserrat', sans-serif;
$font-lobster: 'Lobster', cursive;

/* Global */ 

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
} 

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

section {
    padding: 60px 0;
} 

.row {
    margin: 100px 0 50px 0;
} 

p {
    color: $color-p;
    font-family: $font-text;
    margin: 0;
} 

h2 {
    font-family: $font-header;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Header */

header {
    background-image: url(https://images.pexels.com/photos/4004374/pexels-photo-4004374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-size: cover;
    color: $font-light;
    padding:0 0 40px 0;

    nav {
        margin-bottom: 150px;

        .container {

            .row3 {
                margin-top: 0;
            }
        }
    }

    .splash-caption {
        text-align: center;
        margin-bottom: 100px;

        h2 {
            font-size: 40px;
            font-family: $font-text;
            font-weight: 30;
        } 

        h1 {
            font-size: 70px;
            font-family: $font-header;
        } 

        .btn {
            background-color: $color-golden;
            display: inline-block;
            padding: 15px 32px;
            border-radius: 4px;
            font-size: 18px;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            color: $font-light;
        }
    }
}

/* Navigation */

.navigation {

    .container { 

        div {
            margin-top: 20px;
        } 

        .col-md-3 { 

            ul {
                margin-top: 4px;
                
                li {
                    font-family: $font-lobster;
                    font-weight: lighter;

                    a {
                        color: $color-golden;
                        font-size: 25px;
                        font-weight: lighter;
                    }
                }
            }
        }

        .col-md-8 {

            ul {
                padding-left: 150px;
            }
        }
    }

    ul {
        list-style-type: none;
        
        li {
            margin: 0 35px 0 0;
            display: inline-block;

            a {
                text-decoration: none;
                color: $font-light;
            }
        }
    }
}

/* Services */

.Services {

    /* to jest element html (div?) o klasie która powinna być BOX - okazuje się że na kolumny też działa */
    .col-4 { 

        display: flex;
        flex-direction: column;
        align-items: center; /* te trzy centrują znaczek ikonki w box/divie/tutaj w kolumnie; align-items: center; ZMIENIA Z WIERSZA NA KOLUMNĘ!!!  */

        /* to jest div-rodzic dla dziecka icony; nazwa clasy tego diva jakakolwiek może być */
        .icon { 

            display: flex;
            align-items: center;
            justify-content: center; 

            width: 60px;
            height: 60px;
            border-radius: 100%;
            background: inherit;
            color: $color-golden;
            border: solid 2px;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

            /*
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate (-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            background: inherit;
            color: $color-golden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: solid 2px;
            font-size: 30px;
            font-weight: bold;
            */

            /*
            width:300px;
            height:50px;
            margin-bottom: 5px;
            padding-bottom:10px;
            position: relative;
            */ 
        
            /* div { 
             position: relative; */

            /*i { 
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate (-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                background: inherit;
                color: $color-golden;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: solid 2px;
                font-size: 30px;
                font-weight: bold; 
                
            }
        }
    }

} */

/* Our Portfolio */

.OurPortfolio {
    background-color: $color-light;

    .row2 {
        margin-top: 40px;
    }

    .col-4 {

        div {
            background-color: $color-white;

            h3 {
                margin-bottom: 0;
            }

            p {
                margin: 0;
                padding-bottom: 30px;
            }
        }
    }
} 

/* Footer */

.page-footer {

    .container {

        div {
            margin: 10px 0;

            p {
                margin-top: 40px;
            }
        }
    }
}

.social-links {
    padding: 20px 0;
    text-align: center;
    
    ul { 
        padding: 0 0 0 60px;
        margin: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: left;
        
        li {
            margin: 0 15px 0 0;
            position: relative;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-dark;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            
            a {
               text-decoration: none;
               
               i {
                   font-size: 17px;
                   color: $color-white;
                }
            }
        }
    }
} 

/* Media

    0(s) -sm- ; max-cont-w none 540 
    -md- -lg- -xl- ; max-cont-w 720 960 1140

    @media (max-width: 767px) {}                 

    @media (min-width: 768px) and (max-width: 991px) {} 
*/