/* Variables */

$color-dark: #000000;
$font-light: #ffffff;
$font-header: 'Gotu', sans-serif;
$font-text: 'Montserrat', sans-serif;


/* Global */ 

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
} 

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 60px 0;
}

/* Header */

header {
    background-image: url(https://images.pexels.com/photos/3337202/pexels-photo-3337202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-size: cover;
    color: $font-light;

    nav {
        margin-bottom: 150px;
    }

    .splash-caption {
        text-align: center;
        margin-bottom: 100px;

        h2 {
            font-size: 40px;
            font-family: $font-text;
            font-weight: 30;
        } 

        h1 {
            font-size: 70px;
            font-family: $font-header;
        }

        a {
            color: $font-light;
        }
    }
}

/* Navigation */

.navigation {

    ul {
        list-style-type: none;
        
        li {
            margin: 0 25px 0 0;
            display: inline-block;

            a {
                text-decoration: none;
                color: $font-light;
            }
        }
    }
}

/* Services */

.Services {

    .container {
        text-align: center;
    }

    .row {

        .box {
            display: inline-block;
        }
    }
}

/* Footer */

.social-links {
    padding: 20px 0;
    text-align: center;
    
    ul { 
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: left;
        
        li {
            margin: 0 15px 0 0;
            position: relative;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-dark;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            
            a {
               text-decoration: none;
               
               i {
                   font-size: 16px;
                   color: $font-light;
                }
            }
        }
    }
} 




/* Media */ 

@media (max-width: 767px) {

}                                                       /* 0(s) -sm- ; max-cont-w none 540 */

@media (min-width: 768px) and (max-width: 991px) {
    
}                                                       /* -md- -lg- -xl- ; max-cont-w 720 960 1140 */ 
